{% load socialaccount %}

<!-- 내비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light con">
    <div class = "container" >
        <a class="navbar-brand" href="/">Do It Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About Me</a>
                </li>
            </ul>
            <ul class = "navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class = "nav-item dropdown">
                        <a class = "nav-link dropdown-toggle" href = "#" id = "navbarDropdownMenuLink" role = "button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <img class="rounded-circle" width="35px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                            {% else %}
                                <img class="rounded-circle" width="35px" src="https://avatars.dicebear.com/api/micah/{user.email}.svg?mood[]=happy&mood[]=sad">
                            {% endif %}
                            &nbsp;
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/accounts/logout/">Sign Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>



<!-- 모달(모델 아님) -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp Sign in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <style>
                    #modal-a {
                        margin-top : 10px;
                        margin-bottom : 10px;
                    }
                </style>
                <div class="row">
                    <div class="col-md-6">
                        <a id="modal-a" role="button" class="btn btn-outline-dark btn-sm col-12" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>&nbsp&nbsp Sign  in with Google</a>
                        <a id="modal-a" role="button" class="btn btn-outline-dark btn-sm col-12" href="/accounts/login/"><i class="far fa-envelope"></i>&nbsp&nbsp Sign in with E-mail</a>
                    </div>
                    <div class="col-md-6">
                        <a id="modal-a" role="button" class="btn btn-outline-dark btn-sm col-12" href="/accounts/signup/"><i class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>